<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>Babylon.js sample code</title>

        <!-- Babylon.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.2/dat.gui.min.js"></script>
        <script src="https://preview.babylonjs.com/ammo.js"></script>
        <script src="https://preview.babylonjs.com/cannon.js"></script>
        <script src="https://preview.babylonjs.com/Oimo.js"></script>
        <script src="https://preview.babylonjs.com/earcut.min.js"></script>
        <script src="https://preview.babylonjs.com/babylon.js"></script>
        <script src="https://preview.babylonjs.com/materialsLibrary/babylonjs.materials.min.js"></script>
        <script src="https://preview.babylonjs.com/proceduralTexturesLibrary/babylonjs.proceduralTextures.min.js"></script>
        <script src="https://preview.babylonjs.com/postProcessesLibrary/babylonjs.postProcess.min.js"></script>
        <script src="https://preview.babylonjs.com/loaders/babylonjs.loaders.js"></script>
        <script src="https://preview.babylonjs.com/serializers/babylonjs.serializers.min.js"></script>
        <script src="https://preview.babylonjs.com/gui/babylon.gui.min.js"></script>
        <script src="https://preview.babylonjs.com/inspector/babylon.inspector.bundle.js"></script>

        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        
        <script src="faux.js"></script>
        <script src="main.js"></script>
        <script src="vue.js"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <style>
            html, body {
                overflow: hidden;
                margin: 0;
                padding: 0;
            }

            #renderCanvas {
                width: 100%;
                height: 100%;
                touch-action: none;
            }
        </style>
    </head>
<body>
        <div class="row">
            <div class="col-3 mt-3" id="app">

                <h3>Плоскость</h3>
                Из формулы плоскости
                <br>
                <i>A * x + B * y + C * z + D = 0</i>
                <br>
                <div class="row">
                    <div class="col-3">
                        <input type="number" placeholder="A" class="form-control" v-model="Ahook">
                    </div>
                    <div class="col-3">
                        <input type="number" placeholder="B" class="form-control" v-model="Bhook">
                    </div>
                    <div class="col-3">
                        <input type="number" placeholder="C" class="form-control" v-model="Chook">
                      </div>
                    <div class="col-3">
                        <input type="number" placeholder="D" class="form-control" v-model="Dhook">
                      </div>
                </div>

                <input 
                type="checkbox" 
                name="changeVisibily" 
                v-model="planeVisibilityHook" 
                id="changeVisibily"
                class="ml-3"
                >
                <label for="changeVisibility">Спрятать плоскость?</label>

                <hr>
                <h3>Прямая</h3>

                 из канонического уравнения $${x - x_0 \over \overrightarrow{p_x}} = {y - y_0 \over \overrightarrow{p_y}} = {z - z_0 \over \overrightarrow{p_z}}.$$
                <p>координаты x0, y0, z0</p>
                <div class="row">
                    <div class="col-4">
                        <input type="number" placeholder="x0" class="form-control" v-model="x0hook">
                    </div>
                    <div class="col-4">
                        <input type="number" placeholder="y0" class="form-control" v-model="y0hook">
                    </div>
                    <div class="col-4">
                        <input type="number" placeholder="z0" class="form-control" v-model="z0hook">
                    </div>
                </div>
                <p>координаты x, y, z вектора</p>
                <div class="row">
                    <div class="col-4">
                        <input type="number" placeholder="x" class="form-control" v-model="xhook">
                    </div>
                    <div class="col-4">
                        <input type="number" placeholder="y" class="form-control" v-model="yhook">
                    </div>
                    <div class="col-4">
                        <input type="number" placeholder="z" class="form-control" v-model="zhook">
                    </div>
                </div>
                <input 
                type="checkbox" 
                name="changeVisibily" 
                v-model="lineVisibilityHook" 
                id="changeVisibily"
                class="ml-3"
                >
                <label for="changeVisibility">Спрятать прямую?</label>
                <br>
                

                


            </div>
            <div class="col-9">
                <canvas id="renderCanvas" ></canvas>
            </div>
            
        </div>


    
    
    <script>

        var canvas = document.getElementById("renderCanvas");
        canvas.width = 300;
        canvas.height = 200;

        // Do not touch! ===================



        var engine = new BABYLON.Engine(
            canvas, 
            true, 
            { 
                preserveDrawingBuffer: true, 
                stencil: true,  
                disableWebGL2Support: false
            }
        );
    
        var scene = new BABYLON.Scene(engine);
        var sceneToRender = scene;

        var scale   = 0.1, MeshWriter;

        const camera = new BABYLON.ArcRotateCamera(
            "Camera", 
            -Math.PI / 2, 
            Math.PI / 2, 
            12, 
            BABYLON.Vector3.Zero()
            );

        camera.attachControl(canvas, true);
        const light = new BABYLON.HemisphericLight("light", new BABYLON.Vector3(1, 1, 0));

        if ( typeof TYPE === "undefined" ) {
            fauxLoad()
        }


        // ===============================
        // Drawing coordinate system
        
        let length = 5;

        let center = BABYLON.Vector3.Zero();
        let linesGrayColor = [new BABYLON.Color4(0.39, 0.39, 0.39), new BABYLON.Color4(0.39, 0.39, 0.39)]

        const basis = [
            [center, new BABYLON.Vector3(length, 0, 0)],
            [center, new BABYLON.Vector3(0, length, 0)],
            [center, new BABYLON.Vector3(0, 0, length)],
        ]

        const minusBasis = [
            [center, new BABYLON.Vector3(-length, 0, 0)],
            [center, new BABYLON.Vector3(0, -length, 0)],
            [center, new BABYLON.Vector3(0, 0, -length)],
        ]

        for (let i = 0; i < 3; i++){
            BABYLON.MeshBuilder.CreateLines("lines", {points: basis[i]});
            BABYLON.MeshBuilder.CreateLines("lines", {points: minusBasis[i], colors: linesGrayColor});

        }

        Writer = BABYLON.MeshWriter(scene, {scale:scale,defaultFont:"Arial"});
        xAxisText  = new Writer("x", {
            "letter-height": 5,
            "letter-thickness": 0.2,
            "position": {"x": length * 10}
        });

        yAxisText  = new Writer("y", {
            "letter-height": 3,
            "letter-thickness": 0.2,
            "position": {"y": length * 10}
        });

        zAxisText  = new Writer("z", {
            "letter-height": 5,
            "letter-thickness": 0.2,
            "position": {"z": length * 10}
        });


        // ========================================

        let currentNormal = new BABYLON.Vector3(1, 1, 1);

        let abstractPlane = BABYLON.Plane.FromPositionAndNormal(
            new BABYLON.Vector3(1, 1, -3),
            currentNormal
        );

        let plane = BABYLON.MeshBuilder.CreatePlane("plane", {
            sourcePlane: abstractPlane,
            sideOrientation: BABYLON.Mesh.DOUBLESIDE,
            width: 8,
            height: 8
        });

        
        let t = 100;
        const myPoints = [
            new BABYLON.Vector3(t + 1, t + 1, t + 1),
            new BABYLON.Vector3(-t + 1, -t + 1, -t + 1)
        ];

        const options = {
            points: myPoints,
            updatable: true
        };

        
        let lines = BABYLON.MeshBuilder.CreateLines("lines", options);

        options.instance = lines;

        lines = BABYLON.MeshBuilder.CreateLines("lines", options);

        // Vue

        let app = new Vue({
            el: "#app",
            data: {
                A: 1, B: 1, C: 1, D: 1,
                planeVisibility: true,

                x0: 1, y0: 1, z0: 1, x: 1, y: 1, z: 1,
                lineVisibility: true,
            },
            computed: {
                Ahook: {
                    get: function() {return this.A},
                    set: function (newValue){ this.A = newValue; this.changePlane(); }
                },
                Bhook: {
                    get: function() {return this.B},
                    set: function (newValue){ this.B = newValue; this.changePlane(); }
                },
                Chook: {
                    get: function() {return this.C},
                    set: function (newValue){ this.C = newValue; this.changePlane(); }
                },
                Dhook: {
                    get: function() {return this.D},
                    set: function (newValue){ this.D = newValue; this.changePlane(); }
                },
                planeVisibilityHook: {
                    get: function() {return this.planeVisibility},
                    set: function(newValue){
                        this.planeVisibility = newValue;
                        plane.setEnabled(this.planeVisibility);
                    }
                }, 
                x0hook: {get: function() {return this.x0}, set: function(newValue) {this.x0 = parseInt(newValue); this.changeLine();}},
                y0hook: {get: function() {return this.y0}, set: function(newValue) {this.y0 = parseInt(newValue); this.changeLine();}},
                z0hook: {get: function() {return this.z0}, set: function(newValue) {this.z0 = parseInt(newValue); this.changeLine();}},
                xhook: {get: function() {return this.x}, set: function(newValue) {this.x = parseInt(newValue); this.changeLine();}},
                yhook: {get: function() {return this.y}, set: function(newValue) {this.y = parseInt(newValue); this.changeLine();}},
                zhook: {get: function() {return this.z}, set: function(newValue) {this.z = parseInt(newValue); this.changeLine();}},

                lineVisibilityHook: {
                    get: function() {return this.lineVisibility},
                    set: function(newValue){
                        this.lineVisibility = newValue;
                        lines.setEnabled(this.lineVisibility);
                    }
                }
            },
            methods: {
                changePlane: function(){

                    let dist = this.D / Math.sqrt(this.A * this.A + this.B * this.B + this.C * this.C);

                    let newPosition = new BABYLON.Vector3(this.A * dist, this.B * dist, this.C * dist);
                    let newNormal = new BABYLON.Vector3(this.A, this.B, this.C);
                    
                    plane.translate(newNormal, -this.D);
                    plane.setDirection(newNormal.scale(-1));

                    plane.position = newPosition;

                    currentNormal = newNormal;
                },
                changeLine: function(){
                    console.log(typeof this.x0);
                    newLinePoints = [
                        new BABYLON.Vector3(this.x0 + t * this.x, this.y0 + t * this.y, this.z0 + t * this.z),
                        new BABYLON.Vector3(this.x0 - t * this.x, this.y0 - t * this.y, this.z0 - t * this.z)
                    ];


                    options.points = [];
                    options.points = newLinePoints;
                    options.instance = lines;
                    console.table(options.points);
                    lines = null;

                    lines = BABYLON.MeshBuilder.CreateLines("lines", options);
                }
            }
        });        

        // do not touch! ===================================== 

        var startRenderLoop = function (engine, canvas) {
            engine.runRenderLoop(function () {
                if (sceneToRender && sceneToRender.activeCamera) {
                    sceneToRender.render();
                }
            });
        }

        window.initFunction = async function() {
            if (!engine) throw 'engine should not be null.';
            startRenderLoop(engine, canvas);
        };
        
        initFunction().then(() => {
            sceneToRender = scene                    
        });

        // Resize
        window.addEventListener("resize", function () {
            engine.resize();
        });

        
    </script>
</body>
</html>
